.card {
    color: #fff;
    background-color: transparent;
    width: 275px;
}
.card::after {
    background-image: url("../images/news.jpg");
    background-size: cover;
    border-radius: 3px;
    content: "";
    filter: brightness(0.2);
    position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    z-index: -1;   
}